*.bmp
*.win
*.png
*.gml
*.elf
*.gba
*.json
!creationCodeData.json
code/build/
target
*.sav
*.ogg
*.wav
*.dat
*.csv
/misc/CLI-windows-latest-Release-isBundled-true/
*.pyc
__pycache__/
fontData.h
dataWinIncludes.h
AllRooms.h
/misc/roomConverter/temp.txt
!idrk.png
!egg.mp3
!credits.png

