[submodule "butano"]
	path = butano
	url = https://github.com/GValiente/butano.git
[submodule "misc/EasyPoolProcessing"]
	path = misc/EasyPoolProcessing
	url = https://github.com/Meepster99/EasyPoolProcessing.git
